---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/goodviber/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f0d682b486ac161ae28804dc667f81b8d1cc624fcc674c7ace341e65c7791872"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/4527528/repos?page=2>; rel="next", <https://api.github.com/user/4527528/repos?page=2>;
        rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1606869204'
      X-Ratelimit-Used:
      - '32'
    body:
      encoding: UTF-8
      string: '[{"id":47511329,"node_id":"MDEwOlJlcG9zaXRvcnk0NzUxMTMyOQ==","name":"android_demo","full_name":"goodviber/android_demo","private":false,"owner":{"login":"goodviber","id":4527528,"node_id":"MDQ6VXNlcjQ1Mjc1Mjg=","avatar_url":"https://avatars3.githubusercontent.com/u/4527528?v=4","gravatar_id":"","url":"https://api.github.com/users/goodviber","html_url":"https://github.com/goodviber","followers_url":"https://api.github.com/users/goodviber/followers","following_url":"https://api.github.com/users/goodviber/following{/other_user}","gists_url":"https://api.github.com/users/goodviber/gists{/gist_id}","starred_url":"https://api.github.com/users/goodviber/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/goodviber/subscriptions","organizations_url":"https://api.github.com/users/goodviber/orgs","repos_url":"https://api.github.com/users/goodviber/repos","events_url":"https://api.github.com/users/goodviber/events{/privacy}","received_events_url":"https://api.github.com/users/goodviber/received_events","type":"User","site_admin":false},"html_url":"https://github.com/goodviber/android_demo","description":"sample
        andriod app","fork":false,"url":"https://api.github.com/repos/goodviber/android_demo","forks_url":"https://api.github.com/repos/goodviber/android_demo/forks","keys_url":"https://api.github.com/repos/goodviber/android_demo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/goodviber/android_demo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/goodviber/android_demo/teams","hooks_url":"https://api.github.com/repos/goodviber/android_demo/hooks","issue_events_url":"https://api.github.com/repos/goodviber/android_demo/issues/events{/number}","events_url":"https://api.github.com/repos/goodviber/android_demo/events","assignees_url":"https://api.github.com/repos/goodviber/android_demo/assignees{/user}","branches_url":"https://api.github.com/repos/goodviber/android_demo/branches{/branch}","tags_url":"https://api.github.com/repos/goodviber/android_demo/tags","blobs_url":"https://api.github.com/repos/goodviber/android_demo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/goodviber/android_demo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/goodviber/android_demo/git/refs{/sha}","trees_url":"https://api.github.com/repos/goodviber/android_demo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/goodviber/android_demo/statuses/{sha}","languages_url":"https://api.github.com/repos/goodviber/android_demo/languages","stargazers_url":"https://api.github.com/repos/goodviber/android_demo/stargazers","contributors_url":"https://api.github.com/repos/goodviber/android_demo/contributors","subscribers_url":"https://api.github.com/repos/goodviber/android_demo/subscribers","subscription_url":"https://api.github.com/repos/goodviber/android_demo/subscription","commits_url":"https://api.github.com/repos/goodviber/android_demo/commits{/sha}","git_commits_url":"https://api.github.com/repos/goodviber/android_demo/git/commits{/sha}","comments_url":"https://api.github.com/repos/goodviber/android_demo/comments{/number}","issue_comment_url":"https://api.github.com/repos/goodviber/android_demo/issues/comments{/number}","contents_url":"https://api.github.com/repos/goodviber/android_demo/contents/{+path}","compare_url":"https://api.github.com/repos/goodviber/android_demo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/goodviber/android_demo/merges","archive_url":"https://api.github.com/repos/goodviber/android_demo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/goodviber/android_demo/downloads","issues_url":"https://api.github.com/repos/goodviber/android_demo/issues{/number}","pulls_url":"https://api.github.com/repos/goodviber/android_demo/pulls{/number}","milestones_url":"https://api.github.com/repos/goodviber/android_demo/milestones{/number}","notifications_url":"https://api.github.com/repos/goodviber/android_demo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/goodviber/android_demo/labels{/name}","releases_url":"https://api.github.com/repos/goodviber/android_demo/releases{/id}","deployments_url":"https://api.github.com/repos/goodviber/android_demo/deployments","created_at":"2015-12-06T19:54:41Z","updated_at":"2015-12-06T19:55:34Z","pushed_at":"2015-12-06T19:55:33Z","git_url":"git://github.com/goodviber/android_demo.git","ssh_url":"git@github.com:goodviber/android_demo.git","clone_url":"https://github.com/goodviber/android_demo.git","svn_url":"https://github.com/goodviber/android_demo","homepage":null,"size":93,"stargazers_count":0,"watchers_count":0,"language":"Java","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":295239134,"node_id":"MDEwOlJlcG9zaXRvcnkyOTUyMzkxMzQ=","name":"another-tech-test","full_name":"goodviber/another-tech-test","private":false,"owner":{"login":"goodviber","id":4527528,"node_id":"MDQ6VXNlcjQ1Mjc1Mjg=","avatar_url":"https://avatars3.githubusercontent.com/u/4527528?v=4","gravatar_id":"","url":"https://api.github.com/users/goodviber","html_url":"https://github.com/goodviber","followers_url":"https://api.github.com/users/goodviber/followers","following_url":"https://api[...]
